/* .section-what-is */
@media (max-width: 1300px){
    .section-what-is {
        padding-bottom: 105px;
    }
    .section-what-is p {
        font-size: 23pt;
    }
}
@media (max-width: 1200px) {
    .section-what-is {
        padding-bottom: 105px;
    }
    .section-what-is p {
        font-size: 22pt;
    }
}
@media (max-width: 1100px) {
    .section-what-is {
        padding-bottom: 95px;
    }
    .section-what-is p {
        font-size: 20pt;
    }
}
@media (max-width: 1000px) {
    .section-what-is {
        padding-bottom: 95px;
    }
    .section-what-is p {
        font-size: 19pt;
    }
}
@media (max-width: 900px) {
    .section-what-is {
        padding-bottom: 95px;
    }
    .section-what-is p {
        font-size: 18pt;
    }
}
@media (max-width: 800px) {
    .section-what-is {
        padding: 85px;
        padding-bottom: 330px;
    }
    .section-what-is .row .col:nth-child(2) {
        display: none;
    }
    .section-what-is p {
        font-size: 17pt;
    }
}
@media (max-width: 700px) {
    .section-what-is {
        padding: 85px;
        padding-bottom: 275px;
    }
    .section-what-is p {
        font-size: 16pt;
    }
}
@media (max-width: 600px) {
    .section-what-is {
        padding: 60px;
        padding-bottom: 230px;
    }
    .section-what-is p {
        font-size: 15pt;
    }
}
@media (max-width: 500px) {
    .section-what-is {
        padding: 50px;
        padding-bottom: 230px;
    }
    .section-what-is p {
        font-size: 14pt;
    }
}
@media (max-width: 400px) {
    .section-what-is {
        padding: 40px;
        padding-bottom: 160px;
    }
    .section-what-is p {
        font-size: 13pt;
    }
}
@media (max-width: 300px) {
    .section-what-is {
        padding: 25px;
        padding-bottom: 130px;
    }
    .section-what-is p {
        font-size: 12pt;
    }
}