/* .section-header */
@media (max-width: 1300px){
    .section-header {
        height: 108px;
        padding-left: 90px;
        padding-right: 90px;
    }
}
@media (max-width: 1200px) {
    .section-header {
        height: 99px;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (max-width: 1100px) {
    .section-header {
        height: 91px;
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media (max-width: 1000px) {
    .section-header {
        height: 83px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width: 900px) {
    .section-header {
        height: 75px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 800px) {
    .section-header {
        height: 66px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 700px) {
    .section-header {
        height: 58px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 600px) {
    .section-header {
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 500px) {
    .section-header {
        height: 42px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 400px) {
    .section-header {
        height: 33px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 300px) {
    .section-header {
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
}