/* .section-what-you-manage */
@media (max-width: 1300px){
    .section-what-you-manage {
        height: 810px;
    }
}
@media (max-width: 1200px) {
    .section-what-you-manage {
        height: 738px;
    }
    .section-what-you-manage h2 {
        font-size: 24pt;
    }
}
@media (max-width: 1100px) {
    .section-what-you-manage {
        height: 663px;
    }
    .section-what-you-manage h2 br {
        display: none;
    }
    .section-what-you-manage h2 {
        font-size: 21pt;
    }
}
@media (max-width: 1000px) {
    .section-what-you-manage {
        height: 630px;
        padding-top: 110px;
    }
    .section-what-you-manage h2 {
        font-size: 20pt;
    }
}
@media (max-width: 900px) {
    .section-what-you-manage {
        height: 630px;
    }
    .section-what-you-manage h2 {
        font-size: 19pt;
    }
}
@media (max-width: 800px) {
    .section-what-you-manage {
        height: 500px;
        padding-top: 90px;
        padding-left: 90px;
    }
    .section-what-you-manage h2 {
        font-size: 18pt;
    }
}
@media (max-width: 700px) {
    .section-what-you-manage {
        height: 437px;
        padding-top: 80px;
        padding-left: 70px;
    }
    .section-what-you-manage h2 {
        font-size: 17pt;
    }
}
@media (max-width: 600px) {
    .section-what-you-manage {
        background-position: left center;
        background-size: cover;
        height: 625px;
        padding-top: 130px;
        padding-left: 45px;
    }
    .section-what-you-manage h2 {
        font-size: 16pt;
    }
}
@media (max-width: 500px) {
    .section-what-you-manage {
        height: 545px;
        padding-top: 105px;
        padding-left: 45px;
    }
    .section-what-you-manage h2 {
        font-size: 15pt;
    }
}
@media (max-width: 400px) {
    .section-what-you-manage {
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
        height: 450px;
    }
    .section-what-you-manage h2 {
        text-align: center;
        font-size: 15pt;
    }
}
@media (max-width: 300px) {
    .section-what-you-manage {
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        height: 355px;
    }
    .section-what-you-manage h2 {
        font-size: 13pt;
    }
}