/* .section-why-health-care */
@media (max-width: 1300px){
    .section-why-health-care {
        padding: 0px 100px;
    }
    .section-why-health-care h2 {
        text-align: center;
    }
    .section-why-health-care h2 br {
        display: none;
    }
    .section-why-health-care .row {
        flex-direction: column;
    }
    .section-why-health-care .row .col {
        text-align: center;
    }
    .section-why-health-care .list {
        text-align: left;
    }
    .form-container .vertical-line {
        display: none;
    }
    .section-why-health-care .list div {
        padding-right: 0px;
    }
}
@media (max-width: 1200px) {
    .section-why-health-care {
        padding: 0px 80px;
    }
}
@media (max-width: 1100px) {
    .section-why-health-care {
        padding: 0px 80px;
    }
}
@media (max-width: 1000px) {
    .section-why-health-care {
        padding: 0px 70px;
    }
}
@media (max-width: 900px) {
    .section-why-health-care {
        padding: 0px 70px;
    }
}
@media (max-width: 800px) {
    .section-why-health-care {
        padding: 0px 70px;
    }
    .section-why-health-care img {
        width: 100%;
    }
    .form-container form {
        margin: 0px;
        padding: 20px 30px;
    }
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="number"],
    .form-container form input[type="submit"] {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .section-why-health-care {
        padding: 0px 60px;
    }
    .section-why-health-care .list div {
        background-size: 28px;
        padding-left: 45px;
    }
}
@media (max-width: 600px) {
    .section-why-health-care {
        padding: 0px 50px;
    }
    .section-why-health-care .list div {
        font-size: 14pt;
    }
}
@media (max-width: 500px) {
    .section-why-health-care {
        padding: 0px 40px;
    }
    .section-why-health-care .list div {
        background-size: 22px;
        padding-left: 35px;
        font-size: 13pt;
    }
}
@media (max-width: 400px) {
    .section-why-health-care {
        padding: 0px 30px;
    }
    .section-why-health-care .list div {
        font-size: 12pt;
    }
}
@media (max-width: 300px) {
    .section-why-health-care {
        padding: 0px 40px;
    }
    .section-why-health-care .list div {
        font-size: 11pt;
    }
}