/*
Import Fonts
*/
/* Raleway */
@font-face {
    font-family: RalewayBlack;
    src: url(../fonts/raleway/Raleway-Black.ttf);
}
@font-face {
    font-family: RalewayBlackItalic;
    src: url(../fonts/raleway/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: RalewayBold;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: RalewayBoldItalic;
    src: url(../fonts/raleway/Raleway-BoldItalic.ttf);
}
@font-face {
    font-family: RalewayExtraBold;
    src: url(../fonts/raleway/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: RalewayExtraBoldItalic;
    src: url(../fonts/raleway/Raleway-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: RalewayExtraLight;
    src: url(../fonts/raleway/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: RalewayExtraLightItalic;
    src: url(../fonts/raleway/Raleway-ExtraLightItalic.ttf);
}
@font-face {
    font-family: RalewayItalic;
    src: url(../fonts/raleway/Raleway-Italic.ttf);
}
@font-face {
    font-family: RalewayLight;
    src: url(../fonts/raleway/Raleway-Light.ttf);
}
@font-face {
    font-family: RalewayLightItalic;
    src: url(../fonts/raleway/Raleway-LightItalic.ttf);
}
@font-face {
    font-family: RalewayMedium;
    src: url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: RalewayMediumItalic;
    src: url(../fonts/raleway/Raleway-MediumItalic.ttf);
}
@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: RalewaySemiBold;
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: RalewaySemiBoldItalic;
    src: url(../fonts/raleway/Raleway-SemiBoldItalic.ttf);
}
@font-face {
    font-family: RalewayThin;
    src: url(../fonts/raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: RalewayThinItalic;
    src: url(../fonts/raleway/Raleway-ThinItalic.ttf);
}


.RalewayBlack {
    font-family: RalewayBlack;
}
.RalewayBlackItalic {
    font-family: RalewayBlackItalic;
}
.RalewayBold {
    font-family: RalewayBold;
}
.RalewayBoldItalic {
    font-family: RalewayBoldItalic;
}
.RalewayExtraBold {
    font-family: RalewayExtraBold;
}
.RalewayExtraBoldItalic {
    font-family: RalewayExtraBoldItalic;
}
.RalewayExtraLight {
    font-family: RalewayExtraLight;
}
.RalewayExtraLightItalic {
    font-family: RalewayExtraLightItalic;
}
.RalewayItalic {
    font-family: RalewayItalic;
}
.RalewayLight {
    font-family: RalewayLight;
}
.RalewayLightItalic {
    font-family: RalewayLightItalic;
}
.RalewayMedium {
    font-family: RalewayMedium;
}
.RalewayMediumItalic {
    font-family: RalewayMediumItalic;
}
.RalewayRegular {
    font-family: RalewayRegular;
}
.RalewaySemiBold {
    font-family: RalewaySemiBold;
}
.RalewaySemiBoldItalic {
    font-family: RalewaySemiBoldItalic;
}
.RalewayThin {
    font-family: RalewayThin;
}
.RalewayThinItalic {
    font-family: RalewayThinItalic;
}

/* Source-Sans-Pro */
@font-face {
    font-family: SourceSansPro-Black;
    src: url(../fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
    font-family: SourceSansPro-BlackIt;
    src: url(../fonts/source-sans-pro/SourceSansPro-BlackIt.otf);
}
@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: SourceSansPro-BoldIt;
    src: url(../fonts/source-sans-pro/SourceSansPro-BoldIt.otf);
}
@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url(../fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
    font-family: SourceSansPro-ExtraLightIt;
    src: url(../fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf);
}
@font-face {
    font-family: SourceSansPro-It;
    src: url(../fonts/source-sans-pro/SourceSansPro-It.otf);
}
@font-face {
    font-family: SourceSansPro-Light;
    src: url(../fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
    font-family: SourceSansPro-LightIt;
    src: url(../fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: SourceSansPro-Semibold;
    src: url(../fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: SourceSansPro-SemiboldIt;
    src: url(../fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf);
}

.SourceSansPro-Black {
    font-family: SourceSansPro-Black;
}
.SourceSansPro-BlackIt {
    font-family: SourceSansPro-BlackIt;
}
.SourceSansPro-Bold {
    font-family: SourceSansPro-Bold;
}
.SourceSansPro-BoldIt {
    font-family: SourceSansPro-BoldIt;
}
.SourceSansPro-ExtraLight {
    font-family: SourceSansPro-ExtraLight;
}
.SourceSansPro-ExtraLightIt {
    font-family: SourceSansPro-ExtraLightIt;
}
.SourceSansPro-It {
    font-family: SourceSansPro-It;
}
.SourceSansPro-Light {
    font-family: SourceSansPro-Light;
}
.SourceSansPro-LightIt {
    font-family: SourceSansPro-LightIt;
}
.SourceSansPro-Regular {
    font-family: SourceSansPro-Regular;
}
.SourceSansPro-Semibold {
    font-family: SourceSansPro-Semibold;
}
.SourceSansPro-SemiboldIt {
    font-family: SourceSansPro-SemiboldIt;
}
/* Myriad */
@font-face {
    font-family: Myriad-Pro-Regular;
    src: url(../fonts/myriad/Myriad-Pro-Regular.ttf);
}
.Myriad-Pro-Regular {
    font-family: Myriad-Pro-Regular;
}

/* Montserrat */
.Montserrat-Regular {
    font-family: Montserrat-Regular;
}
