@media (max-width: 1403px) {
    .landing-body {
        width: 100%;
    }
}


@media (max-width: 1300px){
    .section h2 {
        font-size: 26pt;
    }
}
@media (max-width: 1200px) {
    .section h2 {
        font-size: 26pt;
    }
}
@media (max-width: 1100px) {
    .section h2 {
        font-size: 25pt;
    }
}
@media (max-width: 1000px) {
    .section h2 {
        font-size: 24pt;
    }
}
@media (max-width: 900px) {
    .section h2 {
        font-size: 23pt;
    }
}
@media (max-width: 800px) {
    .section h2 {
        font-size: 22pt;
    }
}
@media (max-width: 700px) {
    .section h2 {
        font-size: 21pt;
    }
}
@media (max-width: 600px) {
    .section h2 {
        font-size: 20pt;
    }
}
@media (max-width: 500px) {
    .section h2 {
        font-size: 19pt;
    }
}
@media (max-width: 400px) {
    .section h2 {
        font-size: 18pt;
    }
}
@media (max-width: 300px) {
    .section h2 {
        font-size: 17pt;
    }
}
