:root {
    --main-font-color: #3f3f59;
    --white: #e9e9e9;
    --green: #7ec14d;
    --greenborder: #44644a;
    --aquamarine: #40ecc1;
    --gradientblueone: #0064e6;
    --gradientbluetwo: #00e5ae;
}

html, body {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--white);
    font-size: 10pt;
    color: var(--main-font-color);
}
p {
    text-align: justify;
}
a {
    text-decoration: none;
    color: var(--white);
}
a:focus {
    outline: none;
}

.landing-body {
    position: relative;
    width: 1404px;
    margin: 0 auto;
}

.section {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 100px;
}
.section h2 {
    font-family: RalewayBold;
    font-size: 26pt;
}

/* SECTION HEADER */
.section-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../images/hcs1.png');
    padding-right: 107px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 116px;
}

/* SECTION WHAT IS */
.section-what-is {
    background-image: url('../images/hcs2.png');
    padding-top: 130px;
    background-position: bottom;
    padding-bottom: 185px;
}
.section-what-is h2 {}
.section-what-is p {
    font-size: 24pt;
}
.section-what-is .row .col:first-child {
    padding-right: 1px;
}

/* SECTION WHY HEALTH CARE */
.section-why-health-care {
    background-color: var(--green);
    background-repeat: repeat;
    padding-left: 105px;
}
.section-why-health-care h2 {
    margin-top: 15px;
    margin-bottom: 30px;
}
.section-why-health-care .list div {
    background-image: url('../images/iconolista.png');
    background-position: top left;
    background-size: 32px;
    font-size: 17pt;
    background-repeat: no-repeat;
    padding-right: 46px;
    padding-left: 45px;
    padding-top: 5px;
    margin-bottom: 25px;
}
.form-container {
    display: flex;
}
.form-container form {
    width: 100%;
    background-color: var(--white);
    padding: 20px 60px;
    padding-bottom: 70px;
    margin: 50px;
    text-align: center;
}
.form-container form h2 {
    margin-bottom: 50px;
}
.form-container form .form-row {
    display: flex;
    position: relative;
}
.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form input[type="number"] {
    flex: 1;
    font-size: 15pt;
    border: none;
    border-bottom: 1px solid var(--aquamarine);
    height: 40px;
    padding-left: 25px;
    margin: 15px 0px;
    font-family: Myriad-Pro-Regular;
}
.form-container form a {
    color: var(--gradientblueone);
}
.form-container form label {
    text-align: justify;
    font-family: Myriad-Pro-Regular;
    font-size: 14pt;
    margin: 15px 0px;
}
.form-container form textarea {
    font-family: Myriad-Pro-Regular;
    font-size: 15pt;
    margin: 15px 0px;
}
.form-container form .form-row span {
    position: absolute;
    top: 20px;
    font-size: 20px;
}
.form-container form input[type="submit"] {
    font-family: Montserrat;
    font-size: 18pt;
    width: 280px;
    height: 57px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--gradientblueone), var(--gradientbluetwo));
    color: var(--white);
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}
.form-container .vertical-line {
    border-left: 2px solid var(--greenborder);
}

/* SECTION WHAT YOU MANAGE */
.section-what-you-manage {
    background-image: url('../images/hcs5.png');
    background-size: cover;
    padding-top: 150px;
    height: 890px;
}